body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
}
h1 {
    font-size: 24px;
    color: #F9FAF8;
}
.top {
    margin: 0px;
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-around;
}
ul {
    font-size: 18px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 300px 50px;
}
h2 {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
}
p.top-paragraph {
    margin-top: 15px;
    font-size: 18px;
    color: #E5E7EB;
}
button.signup {
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    color: #F9FAF8;
    background-color: #3882F6;
    cursor: pointer;
    padding: 15px;
}
button.signup:hover {
    color: #3882F6;
    background-color: #F9FAF8;
    cursor: pointer;
}
h3 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.products {
    padding: 0px 200px;
}
.custom-software,
.real-time-reports,
.fuel-management,
.tracking-devices {
    text-align: center;
    color: #1F2937;
}
.product-details {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 100px;
}
img.images {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
img.images:hover {
    box-shadow: 0px 0px 0px;
    cursor: pointer;
    opacity: 0.5;
}
.testimonials {
    background-color: #E5E7EB;
    padding: 50px 400px 50px 400px;
}
h4 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}
h4.name {
    display: flex;
    font-size: 26px;
    justify-content: flex-end;
    font-weight: bold;
    font-style: normal;
}
.call {
    padding: 100px 300px;
}
.call-to-action {
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;
    border: 1px solid;
    background-color: #3882F6;
    border-radius: 10px;
}
p.bolder {
    margin: 0px;
    font-size: 22px;
    font-weight: bolder;
}
p.normal {
    margin: 0px;
    font-weight: light;
}
button.signup-btn {
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: #F9FAF8;
    background-color: #3882F6;
    cursor: pointer;
    padding: 10px 30px;
}
button.signup-btn:hover {
    color: #3882F6;
    background-color: #F9FAF8;
    cursor: pointer;
}
.footer {
    text-align: center;
    padding: 20px 100px;
    background-color: #1F2937;
    color: #F9FAF8;
}